@page
@model WeatherApp.Pages.WeatherModel
@{
    ViewData["Title"] = "Weather";
    }

<h1>Weather Forecast</h1>

<form method="post">
    <label for="city">Enter City:</label>
    <input id="city" name="City" value="@Model.City" />
    <button type="submit">Get Weather</button>

    @if (Model.Weather is not null)
    {
        <h3>Data for @Model.City</h3>
        <p>Temperature  is @Model.Weather.Current.Temperature °C</p>
        <p>Humidity  is @Model.Weather.Current.Humidity %</p>
    }
    else
    {
        <p>Please write correct name of place</p>
    }

</form>
